html {
  color: white;
  background-color: black;
  margin-left: 20%;
}

.h3 {
    font-size: 20px;
    font-weight: bold;
    font-size:larger;
}

.h6 {
  font-size: large;
}

div {
    margin: 10px;
}

.button_action {
  border-radius: 20px;
  color: white;
  background-color: #66ff99;
  margin: 15px;
  font-size: 15px;
  margin: 15px;
}